# các thư viện cần cài (có thể chưa đủ)
anyio==4.14.1
beautifulsoup4==4.15.0
bota==4.0.155
botasaurus==4.0.97
botasaurus-humancursor==4.0.83
botasaurus_api==4.0.10
botasaurus_driver==4.0.92
botasaurus_proxy_authentication==1.0.16
botasaurus_requests==4.0.38
brotli==1.2.0
certifi==2026.6.17
cffi==2.0.0
charset-normalizer==3.4.7
chrome_extension_python==1.0.4
click==8.4.2
close_chrome==4.0.40
colorama==0.4.6
Deprecated==1.3.1
et_xmlfile==2.0.0
gevent==26.5.0
geventhttpclient==2.3.9
greenlet==3.5.3
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.18
javascript_fixes==1.1.29
joblib==1.5.3
lxml==6.1.1
markdown-it-py==4.2.0
mdurl==0.1.2
numpy==2.4.6
openpyxl==3.1.5
psutil==7.2.2
pycparser==3.0
Pygments==2.20.0
pytweening==1.2.0
PyVirtualDisplay==3.0
requests==2.34.2
rich==15.0.0
soupsieve==2.8.4
typing_extensions==4.16.0
urllib3==2.7.0
websocket-client==1.9.0
wrapt==2.2.2
zope.event==6.2
zope.interface==8.5
